/* overall layout */
body, body.single .light{
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

body, blog.single.dark .article{
    color: #333333;
    background-color: #ffffff;
}
/* blog temp */
.blog {
    padding: 20px;
}

.blog-header h1, h2, h3 {
    color: #ffc400;
    font-size: 2.5em;
    margin-bottom: 10px;
}

.lead {
    font-size: 1.2em;
    color: #666;
}

/* Article */
.light{
    background-color: transparent; 
    color: #2e2e2e; 
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    line-height: 1.8; 
}

.article {
    background-color: transparent; 
    color: #e0e0e0; 
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    line-height: 1.8; 
}

/* Article h2 */
.article h2 {
    font-weight: bold; 
    color: #f0f0f0; 
    font-size: 1.5em; 
    margin-bottom: 6px; 
}

/* Article h3 */
.article h3 {
    font-weight: normal;
    line-height: 1.8;
    color: #f0f0f0; 
    font-size: 1.0em; 
}

.article hr {
    border: 0; 
    height: 1px; 
    background-color: #c99e42; 
    margin: 20px 0;
}


/* adj width */
.col-md-12, .col-lg-10, .col-xxl-8 {
    max-width: 100%;
    padding: 0 15px;
}

/* media queries */
@media (max-width: 768px) {
    .blog-header h1 {
        font-size: 1.8em;
    }
}

@media (max-width: 576px) {
    .col-md-12, .col-lg-10, .col-xxl-8 {
        padding: 0 10px;
    }
}

